/* CONTENEDOR BANNER */
.contenedor_banner {
    width: 100%;
}

/* LINK */
.contenedor_banner a {
    display: flex;
}

/* IMAGENES */
.contenedor_banner img {
    width: 100%;
}

.contenedor_banner .imagen_movil {
    display: none;
}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {

    /* IMAGENES */
    .contenedor_banner .imagen_computadora {
        display: none;
    }

    .contenedor_banner .imagen_movil {
        display: block;
    }

}