.centrar_contenido_pagina {
    max-width: 1280px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.contenido_pagina {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}

.g_centrar_contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.columna_12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.m_10_0 {
    margin: 10px 0px;
}

.m_b_10 {
    margin-bottom: 10px;
}

.m_40_0 {
    margin: 40px 0px;
}
