:root {

    --altura-header-principal-computadora: 140px;
    --altura-menu-principal-arriba: 100px;
    --altura-header-principal-movil: 170px;

    --color-fondo-primario: #fafafa;
    --color-fondo-secundario: #fff;
    --color-fondo-terciario: #f10a0f;
    --color-fondo-cuaternario: #495867;

    --color-borde-primario: #f10a0f;
    --color-borde-secundario: #CAD1D9;

    --color-texto-primario: #495867;
    --color-texto-secundario: #f10a0f;
    --color-texto-terciario: #fff;

    --ancho-espacio-pagina-computadora: 50px;

    /* SLIDE PRODUCTOS */
    /*6 ELEMENTOS*/
    --slide-productos-computadora: 16.6%;
    /*2 ELEMENTOS*/
    --slide-productos-tablet: 45%;
    /*1 ELEMENTO*/
    --slide-productos-movil: 95%;

}