:root {

    --altura-header-principal-computadora: 140px;
    --altura-menu-principal-arriba-computadora: 90px;
    --altura-menu-principal-abajo-computadora: 50px;

    --altura-header-principal-movil: 170px;
    --altura-menu-principal-arriba-movil: 120px;
    --altura-menu-principal-abajo-movil: 50px;

    --ancho-espacio-pagina-computadora: 50px;
    --ancho-espacio-pagina-movil: 10px;

    --color-fondo-primario: #fafafa;
    --color-fondo-secundario: #fff;
    --color-fondo-terciario: #f10a0f;
    --color-fondo-cuaternario: #495867;

    --hover-color-fondo-primario: #fafafa;

    --color-borde-primario: #f10a0f;
    --color-borde-secundario: #e9e9e9;

    --color-texto-primario: #495867;
    --color-texto-secundario: #f10a0f;
    --color-texto-terciario: #fff;

    --ancho-sidebar-categoria: 300px;
    --ancho-sidebar-subcategoria: calc(80% - 300px);
    --altura-sidebar-cabecara: 56px;

    --sombra: 0 5px 20px rgba(0, 0, 0, .2);


    /* SLIDE PRODUCTOS */
    /*6 ELEMENTOS*/
    --slide-productos-computadora: 16.6%;
    /*2 ELEMENTOS*/
    --slide-productos-tablet: 45%;
    /*1 ELEMENTO*/
    --slide-productos-movil: 95%;

}