.contenedor_pagina_producto {
    background-color: #eee;
    padding-bottom: 20px;
}

.contenedor_pagina_producto .centrar {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.contenedor_pagina_producto .contenedor_bloque {
    background-color: #fff;
}

/* INFORMACION */
.contenedor_pagina_producto .contenedor_informacion_producto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 20px 0px;
}

/* DETALLE */
.contenedor_pagina_producto .contendor_detalle_producto {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding: 0 44px 0 49px;
    border-left: 1px solid #f8f8f8;
}

.contenedor_pagina_producto .cabecera {
    margin-bottom: 10px;
}

.contenedor_pagina_producto .cabecera h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    margin: 4px 0;
    font-weight: 700;
}

.contenedor_pagina_producto .cabecera h3 {
    font-size: 17px;
    font-weight: bold;
}

/* PRECIOS */
.contenedor_pagina_producto .contenedor_precios {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .oferta {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.contenedor_pagina_producto .contenedor_precios .item_precio {
    display: flex;
    align-content: center;
    margin: 2px 0;
    align-items: center;
    gap: 10px;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .normal {
    font-weight: 500;
    color: #717171;
    font-size: 17px;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .antes {
    text-decoration: line-through;
    font-weight: 400;
    color: #717171;
}

.contenedor_pagina_producto .contenedor_precios .descuento {
    background-color: #EB0029;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .texto {
    text-align: left;
    font-size: 14px;
    line-height: 1.2rem;
    color: #717171;
    display: flex;
    align-items: center;
    gap: 4px;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .numero {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media (max-width:1024px) {

    .contenedor_pagina_producto .contendor_detalle_producto {
        padding: 10px;
    }

}

@media (max-width: 700px) {

    .contenedor_pagina_producto .contenedor_informacion_producto {
        flex-direction: column;
        padding: 0px 0px;
    }

    .contenedor_imagenes_producto {
        width: 100%;
    }

    .contenedor_pagina_producto .contendor_detalle_producto {
        width: 100%;
        padding: 10px;
    }

}