.contenedor_pagina_producto {
    background-color: #eee;
    padding-bottom: 20px;
}

.contenedor_pagina_producto .centrar {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.contenedor_pagina_producto .contenedor_bloque {
    background-color: #fff;
}

/* MIGAJA */
.contenedor_pagina_producto .contendor_migaja {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 0 19px;
    background-color: transparent;
}

.contenedor_pagina_producto .contendor_migaja ol {
    list-style: none;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.contenedor_pagina_producto .contendor_migaja li {
    color: #333;
    margin: 3px 0;
    text-decoration: underline;
}

.contenedor_pagina_producto .contendor_migaja li::before {
    content: '>';
    display: inline-flex;
    padding: 0 3px;
    color: #717171;
}

/* INFORMACION */
.contenedor_pagina_producto .contenedor_informacion_producto {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 20px;
}

/* DETALLE */
.contenedor_pagina_producto .contendor_detalle_producto {
    display: flex;
    width: 45%;
    flex-direction: column;
    padding: 0 44px 0 49px;
    border-left: 1px solid #f8f8f8;
}


.contenedor_pagina_producto .contendor_detalle_producto .cabecera {
    margin-bottom: 20px;
}

.contenedor_pagina_producto .contendor_detalle_producto h2 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    margin: 4px 0;
    font-weight: 700;
}

.contenedor_pagina_producto .contendor_detalle_producto h3 {
    font-size: 17px;
    font-weight: bold;
}

/* PRECIOS */
.contenedor_pagina_producto .contenedor_precios {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.contenedor_pagina_producto .contenedor_precios .item_precio {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 2px 0;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .oferta {
    font-size: 24px;
    font-weight: 700;
}

.contenedor_pagina_producto .contenedor_precios .item_precio .antes {
    text-decoration: line-through;
    font-weight: 400;
    color: #717171;
}



@media (max-width: 700px) {

    .contenedor_pagina_producto .contenedor_informacion_producto {
        flex-direction: column;
    }

    .contenedor_imagenes_producto {
        width: 100%;
    }

    .contenedor_pagina_producto .contendor_detalle_producto {
        width: 100%;
    }

}