.pie_pagina_categorias {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    color: white;
}

.pie_pagina_categorias .contenedor_marcas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pie_pagina_categorias .contenedor_marcas p {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto 0.625rem;
    text-overflow: ellipsis;
    color: #4a4a4a;
}

.pie_pagina_categorias .contenedor_marcas ul {
    padding-left: 1rem;
}

.pie_pagina_categorias .contenedor_marcas ul li {
    list-style: disc;
    color: #888;
}

.pie_pagina_categorias .contenedor_marcas ul li a {
    text-decoration: underline;
    font-weight: 400;
    font-size: .875rem;
}

/* IMAGENES */
.pie_pagina_categorias .contenedor_marcas img {
    width: 100%;
    height: auto;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .pie_pagina_categorias .contenedor_marcas {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {

    .pie_pagina_categorias .contenedor_marcas {
        grid-template-columns: repeat(1, 1fr);
    }

}