/* CONTENEDOR GRID */
.contenedor_grid_imagen_cuatro_elementos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* LINK */
.contenedor_grid_imagen_cuatro_elementos a {
    display: flex;
}

/* IMAGENES */
.contenedor_grid_imagen_cuatro_elementos img {
    width: 100%;
    height: auto;
}

.contenedor_grid_imagen_cuatro_elementos .imagen_movil {
    display: none;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .contenedor_grid_imagen_cuatro_elementos {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {

    /* IMAGENES */
    .contenedor_grid_imagen_cuatro_elementos .imagen_computadora {
        display: none;
    }

    .contenedor_grid_imagen_cuatro_elementos .imagen_movil {
        display: block;
    }

}