.contenedor_grid_imagen_cuatro_elementos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.contenedor_grid_imagen_cuatro_elementos a {
    display: flex;
}

.contenedor_grid_imagen_cuatro_elementos img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {

    .contenedor_grid_imagen_cuatro_elementos {
        grid-template-columns: repeat(2, 1fr);
    }

}