.contenedor_aviso {
    position: relative;
    width: 100%;
}

.contenedor_aviso .reverseSlider {
    flex-direction: row-reverse;
}

.contenedor_aviso .slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
    width: 25%;
}

.contenedor_aviso .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .contenedor_aviso .slide {
        width: 45%;
    }
    
}

@media (max-width: 700px) {
    .contenedor_aviso .slide {
        width: 95%;
    }

}