.contenedor_slider_producto {
    position: relative;
    width: 100%;
}

/* SLIDER */
.contenedor_slider_producto .slider {
    width: 90%;
    overflow-x: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.contenedor_slider_producto .slider::-webkit-scrollbar {
    height: 5px;
}

.contenedor_slider_producto .slider::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 5px;
}

/* SLIDE */
.contenedor_slider_producto .slide {
    width: var(--slide-productos-computadora);
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 15px;
}

.contenedor_slider_producto .contenedor_imagen {
    position: relative;
    height: 135.53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_slider_producto .contenedor_imagen span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 5px;
    background-color: rgb(235, 0, 41);
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.4px;
    color: rgb(255, 255, 255);
}

/* IMAGEN */
.contenedor_slider_producto .slide img {
    /*width: auto;*/
    height: 100%;
    border-radius: 8px;
}

.contenedor_slider_producto .marca {
    max-width: 12rem;
    overflow: hidden;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4rem;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #767676;
}

.contenedor_slider_producto .titulo {
    height: 34px;
    overflow: hidden;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    color: #4a4a4a;
}

.contenedor_slider_producto .precio_oferta {
    text-align: left;
    font-size: 18px;
    line-height: 1.2rem;
    color: #e4022d;
}

.contenedor_slider_producto .precio_real {
    text-align: left;
    font-size: 18px;
    line-height: 1.2rem;
    color: #717171;
}

.contenedor_slider_producto .precio_antiguo {
    text-decoration: line-through;
    text-align: left;
    font-size: 14px;
    line-height: 1.2rem;
    color: #717171;
}

.contenedor_slider_producto .slide button {
    width: 100%;
    height: 36px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #495867;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fafafa;
    visibility: hidden;
}

.contenedor_slider_producto .slide:hover button {
    visibility: visible;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .contenedor_slider_producto .slide {
        width: var(--slide-productos-tablet);
    }

}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {

    .contenedor_slider_producto .slide {
        width: var(--slide-productos-movil);
    }
 
}