.slider_img_tres_ele_ti .slide {
    width: 33.33%;
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
}

.slider_img_tres_ele_ti .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .slider_img_tres_ele_ti .slide {
        width: 45%;
    }

}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {

    .slider_img_tres_ele_ti .slide {
        width: 95%;
    }

}