.slider_img_tres_ele_publi_contr {
    position: relative;
    width: 100%;
}

.slider_img_tres_ele_publi_contr .reverseSlider {
    flex-direction: row-reverse;
}

.slider_img_tres_ele_publi_contr .slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
}

.slider_img_tres_ele_publi_contr .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slider_img_tres_ele_publi_contr .item_50 {
    width: 50%;
}

.slider_img_tres_ele_publi_contr .item_25 {
    width: 25%;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .slider_img_tres_ele_publi_contr .slide {
        width: 45%;
    }
    
}

@media (max-width: 700px) {
    .slider_img_tres_ele_publi_contr .slide {
        width: 95%;
    }

}