.slider_img_dos_ele_ti .slide {
    width: 50%;
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
}

.slider_img_dos_ele_ti .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .slider_img_dos_ele_ti .slide {
        width: 95%;
    }

}