.slider_img_cinco_ele .slide {
    width: 20%;
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
}

.slider_img_cinco_ele .slide p {
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 1.5;
}

.slider_img_cinco_ele .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {
    .slider_img_cinco_ele .slide {
        width: 45%;
    }
}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {
    .slider_img_cinco_ele .slide {
        width: 95%;
    }
}