/* ITEM SLIDER */
.slider_img_cuatro_ele .slide {
    width: 25%;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0px 5px;
}

.slider_img_cuatro_ele .slide a {
    display: flex;
}

.slider_img_cuatro_ele .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {
    .slider_img_cuatro_ele .slide {
        width: 45%;
    }
}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {
    .slider_img_cuatro_ele .slide {
        width: 95%;
    }
}