/* CONTENEDOR SLIDER */
.contenedor_slider_imagen_cuatro_elementos {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.contenedor_slider_imagen_cuatro_elementos::-webkit-scrollbar {
    height: 5px;
}

.contenedor_slider_imagen_cuatro_elementos::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 5px;
}

/* ITEM SLIDER */
.contenedor_slider_imagen_cuatro_elementos .item_slider {
    width: 25%;
    flex: 0 0 auto;
    scroll-snap-align: start;
    padding: 0px 5px;
}

.contenedor_slider_imagen_cuatro_elementos .item_slider a {
    display: flex;
}

.contenedor_slider_imagen_cuatro_elementos .item_slider img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {
    .contenedor_slider_imagen_cuatro_elementos .item_slider {
        width: 45%;
    }
}

/* RESPONSIVE MOVIL */
@media (max-width: 700px) {
    .contenedor_slider_imagen_cuatro_elementos .item_slider {
        width: 95%;
    }
}