.slider_img_tres_ele_publi_contr_2 {
    position: relative;
    width: 100%;
}

.slider_img_tres_ele_publi_contr_2 .reverseSlider {
    flex-direction: row-reverse;
}

.slider_img_tres_ele_publi_contr_2 .slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
    width: 25%;
}

.slider_img_tres_ele_publi_contr_2 .slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    .slider_img_tres_ele_publi_contr_2 .slide {
        width: 45%;
    }
    
}

@media (max-width: 700px) {
    .slider_img_tres_ele_publi_contr_2 .slide {
        width: 95%;
    }

}