/* PANEL */
.comprador_panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 12px;
    background-color: rgb(255, 255, 255);
    gap: 15px;
}

/* TITULO */
.comprador_titulo {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

/* FORMULARIO */
.comprador_formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comprador_formulario label {
    display: flex;
    margin-bottom: 5px;
    font-weight: 600;
    color: #29343d;
    font-size: 12px;
}

.comprador_formulario .error {
    font-weight: 400;
    font-size: 12px;
    color: rgb(228, 2, 45);
}

.comprador_formulario input,
.comprador_formulario textarea,
.comprador_formulario select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;

    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
}

.comprador_formulario *:disabled {
    background-color: #f6f6f6 !important;
    opacity: 1;
}

.comprador_formulario input:focus,
.comprador_formulario input:active,
.comprador_formulario textarea:focus,
.comprador_formulario textarea:active,
.comprador_formulario select:focus,
.comprador_formulario select:active {
    outline: none;
    box-shadow: none;
    border-color: #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.comprador_formulario .bloque {
    display: grid;
    gap: 15px;
    margin-bottom: 15px;
}

.comprador_formulario .bloque.tres_columnas {
    grid-template-columns: repeat(3, 1fr);
}

.comprador_formulario .bloque.dos_columnas {
    grid-template-columns: repeat(2, 1fr);
}

.comprador_formulario .item_formulario {
    width: 100%;
}

.comprador_formulario_boton {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end;
}

.comprador_formulario_boton button {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
}

.comprador_formulario_boton .guardar {
    background-color: #343E49;
    color: white;
}

.comprador_formulario_boton .cancelar {
    background-color: inherit;
    color: #343E49;
}

/* ALERTAS */
.comprador_alerta {
    display: flex;
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 15px;
}

.comprador_alerta.exito {
    background-color: rgb(196, 232, 141);
}

.comprador_alerta.error {
    background-color: rgb(232, 141, 141);
}

/* LISTA */
.comprador_lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comprador_lista .lista_item {
    padding: 15px;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comprador_lista .lista_item .dos_bloques {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comprador_lista .lista_item .dos_bloques i {
    cursor: pointer;
}

.comprador_lista .lista_item .botones {
    display: flex;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-texto-secundario);
}

.comprador_lista .lista_item p {
    margin-bottom: 5px;
    font-weight: 500;
    color: #29343d;
    font-size: 14px;
}

.comprador_lista .lista_item span {
    margin-bottom: 5px;
    font-weight: 600;
    color: #29343d;
    font-size: 14px;
}

/*  MODAL */
.comprador_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: auto;
    padding: 10px;
}

.comprador_modal .modal_contenedor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

.comprador_modal .modal_cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}

.comprador_modal .modal_titulo {
    margin-bottom: 15px;
}

.comprador_modal .modal_cuerpo {
    margin-bottom: 20px;
}

.comprador_modal .modal_pie {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* SELECCIONADO */
.comprador_seleccionado {
    border: solid 1px rgb(227, 227, 227);
}

.comprador_seleccionado.activo {
    border: solid 1px #29343d;
}

@media (max-width: 1024px) {

    .bloque.tres_columnas {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px) {

    .bloque.tres_columnas {
        grid-template-columns: repeat(1, 1fr);
    }

    .bloque.dos_columnas {
        grid-template-columns: repeat(1, 1fr);
    }


    .comprador_lista .lista_item {
        align-items: flex-start;
        flex-direction: column;
    }

    .comprador_lista .lista_item .dos_bloques {
        width: 100%;
    }

    .comprador_lista .lista_item .botones {
        width: 100%;
        justify-content: flex-end;
    }


}