/* CARRITO */
.contenedor_favorito {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor_favorito .item_producto {
    display: flex;
    gap: 10px;
}

.contenedor_favorito .info_producto {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contenedor_favorito .contenedor_imagen {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_favorito .contenedor_imagen img {
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

.contenedor_favorito .contenedor_informacion {
    display: flex;
    flex-direction: column;
}

.contenedor_favorito .contenedor_informacion .producto_nombre {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.contenedor_favorito .contenedor_informacion .marca_nombre {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.733333px;
    color: var(--color-texto-secundario);
}

.contenedor_favorito .contenedor_informacion .variacion {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-texto-septenario);
}

.contenedor_favorito .contenedor_informacion .variacion span {
    color: var(--color-texto-septenario);
    font-weight: 700;
}

.contenedor_favorito .contenedor_precios .precio {
    display: flex;
    align-items: center;
    gap: 3px;
}

.contenedor_favorito .contenedor_precios .descuento {
    background-color: var(--color-fondo-primario);
    color: var(--color-texto-terciario);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
}

.contenedor_favorito .contenedor_precios .precio_oferta {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.contenedor_favorito .contenedor_precios .precio_normal {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-texto-septenario);
}

.contenedor_favorito .contenedor_precios .precio_antiguo {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-texto-septenario);
    text-decoration: line-through;
}