.contenedor_pagina_pagar {
    background-color: var(--color-fondo-cuaternario);
}

.contenedor_pagina_pagar .centrar {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.contenedor_pagina_pagar .titulo {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-texto-secundario);
    padding: 15px 0px;
}

/* DETALLE CARRITO */
.contenedor_pagina_pagar .detalle_carrito {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
}

/*PANEL*/
.contenedor_pagina_pagar .panel {
    background: var(--color-fondo-terciario);
    margin-bottom: 20px;
    padding: 16px ;

}

/* CARRITO */
.contenedor_pagina_pagar .resumen_detalle_pago {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.contenedor_pagina_pagar .item_producto {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.contenedor_pagina_pagar .info_producto {
    display: flex;
    gap: 10px;
}

.contenedor_pagina_pagar .contenedor_imagen {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_pagina_pagar .contenedor_imagen img {
    width: 100px;
    height: auto;
    object-fit: cover;
    max-height: 100%;
}

.contenedor_pagina_pagar .contenedor_informacion {
    display: flex;
    flex-direction: column;
}

.contenedor_pagina_pagar .contenedor_informacion .producto_nombre {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.contenedor_pagina_pagar .contenedor_informacion .marca_nombre {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.733333px;
    color: var(--color-texto-secundario);
}

.contenedor_pagina_pagar .contenedor_informacion .variacion {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-texto-septenario);
}

.contenedor_pagina_pagar .contenedor_informacion .variacion span {
    color: var(--color-texto-septenario);
    font-weight: 700;
}

.contenedor_pagina_pagar .contenedor_informacion .precio {
    display: flex;
    align-items: center;
    gap: 3px;
}

.contenedor_pagina_pagar .contenedor_informacion .descuento {
    background-color: var(--color-fondo-primario);
    color: var(--color-texto-terciario);
    padding: 2px 5px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
}

.contenedor_pagina_pagar .contenedor_informacion .precio_oferta {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-texto-secundario);
}

.contenedor_pagina_pagar .contenedor_informacion .precio_normal {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-texto-septenario);
}

.contenedor_pagina_pagar .contenedor_informacion .precio_antiguo {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-texto-septenario);
    text-decoration: line-through;
}

.separacion {
    align-self: stretch;
    border-color: var(--color-borde-quinario);
    width: auto;
    height: auto;
    border-style: solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left-width: 0;
    border-bottom-width: 1px;
}

/* CONTROLES */
.contenedor_pagina_pagar .controles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 18px;
}

.contenedor_pagina_pagar .control_cantidad {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-texto-secundario);
}

.contenedor_pagina_pagar .control_cantidad button {
    background-color: var(--color-fondo-quinario);
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.contenedor_pagina_pagar .enlaces {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-texto-secundario);
}

/* RESUMEN PAGO */
.contenedor_pagina_pagar .resumen_pago {
    display: flex;
    flex-direction: column;
    width: 30%;
    background: var(--color-fondo-terciario);
    padding: 16px;
}

.contenedor_pagina_pagar .detalle_pago {
    display: flex;
    flex-direction: column;
}

.contenedor_pagina_pagar .detalle_pago .monto {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.contenedor_pagina_pagar .detalle_pago .texto {
    font-size: 14px;
    color: var(--color-texto-secundario);
    font-weight: 700;
}

.contenedor_pagina_pagar .detalle_pago .numero {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    color: var(--color-texto-secundario);
    font-weight: 700;
}

.contenedor_pagina_pagar .detalle_pago .continuar_compra {
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: var(--color-texto-terciario);
    border-radius: 30px;
    background-color: var(--color-fondo-primario);
    text-transform: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 10px 0px;
    margin: 15px 0px;
}

@media (max-width: 700px) {

    /* DETALLE CARRITO */
    .contenedor_pagina_pagar .detalle_carrito {
        flex-direction: column;
    }

    .contenedor_pagina_pagar .resumen_detalle_pago {
        width: 100%;
    }

    .contenedor_pagina_pagar .resumen_pago {
        box-shadow: var(--sombra-secundario-arriba);
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 8px 16px;
        z-index: 19;
        width: 100%;
    }

    .contenedor_pagina_pagar .item_producto {
        flex-direction: column;
    }

    .contenedor_pagina_pagar .controles {
        display: flex;
        flex-direction: row-reverse;
    }

}