.detalle_pagar {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: flex-start;
}

/* RESUMEN DETALLE PAGO */
.detalle_pagar .resumen_detalle_pago {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
}

/* RESUMEN PAGO */
.detalle_pagar .resumen_pago {
    display: flex;
    flex-direction: column;
    width: 30%;
}

@media (max-width: 700px) {

    .detalle_pagar .detalle_pagar {
        flex-direction: column;
    }

    .detalle_pagar .resumen_detalle_pago {
        width: 100%;
    }

    .detalle_pagar .resumen_pago {
        box-shadow: var(--sombra-secundario-arriba);
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 19;
        width: 100%;
        background-color: white;
    }

}