.contenedor_pagina_perfil {
    /*background-color: azure;*/
    width: 100%;
}

.contenedor_pagina_perfil .panel {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
    background-color: rgb(255, 255, 255);
}

.contenedor_pagina_perfil .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.contenedor_pagina_perfil .priority {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 16px;
    margin-top: 16px;
}

.contenedor_pagina_perfil .cell {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 250px;
    padding-top: 8px;
}

.contenedor_pagina_perfil input {
    width: 100%;
}

.contenedor_pagina_perfil .boton {
    display: flex;
}