.tabla_administrador {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    overflow-x: auto;
}

.contenedor_tabla {
    overflow: hidden;
    min-width: 100%;
    display: inline-block;
    border-radius: 12px;
    border: 1px solid #e0e6eb;
    border-collapse: collapse;
}

.tabla {
    min-width: 100%;
    width: 100%;
    border-collapse: collapse;
}

.tabla_administrador th {
    font-weight: 600;
}

.tabla_administrador a {
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.tabla_administrador tr:hover {
    background-color: #eff4fa;
}

th,
td {
    padding: 12px 24px;
    text-align: left;
}

.inferior {
    color: #98A4AE;
}

.resumir {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.resaltar {
    color: #29343d;
}

tr:not(:last-child) td,
th {
    border-bottom: 1px solid #e0e6eb;
}

.estado {
    font-size: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.centrar_iconos {
    display: flex;
    gap: 10px;
}

.activo {
    color: #36C76C
}

.desactivado {
    color: #FF6692
}

.accion_ver {
    color: #F8C20A;
}

.accion_editar {
    color: #46caeb;
}