.gaaaaaaaaaaa{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* CONTENEDOR LAYOUT ECOMMERCE */
.contenedor_layout_ecommerce {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
    min-height: 100vh;
}

.contenedor_layout_ecommerce_pagina {
    margin-top: var(--altura-header-principal-computadora);
}

/* CONTENEDOR PAGINA */
.g_contenedor_pagina {
    background-color: var(--color-fondo-cuaternario);
}

.g_centrar_pagina {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

/* CENTRAR CONTENEDOR */
.g_centrar_contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
}

/* MARGENES */
.g_m_10_0 {
    margin: 10px 0px;
}

.g_m_b_10 {
    margin-bottom: 10px;
}

.g_m_40_0 {
    margin: 40px 0px;
}

/* CONTENEDOR SUPONER */
.contenedor_superponer {
    z-index: 600;
    position: fixed;
    top: 0 !important;
    background: rgba(0, 0, 0, 0.192);
    content: "";
    height: 100%;
    left: 0;
    transition: all .2s ease-in-out;
    width: 100%;
    display: none;
}

.contenedor_superponer[x-show="true"] {
    display: block;
}

/* ANCHOS CONTENEDOR 100*/
.g_contenedor_100 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

/* ANCHOS CONTENEDOR 70 30*/
.g_contenedor_70_30 {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;
}

.g_contenedor_70_30 .contenedor_70 {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 15px;
}

.g_contenedor_70_30 .contenedor_30 {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px;
}

/* PANEL */
.g_panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--color-fondo-terciario);
    gap: 15px;
}

/* TITULO */
.g_titulo {
    color: var(--color-texto-secundario);
    font-size: 22px;
    font-weight: 500;
}

/* BLOQUES */
.g_bloque {
    display: grid;
    gap: 15px;
    margin-bottom: 15px;
}

.g_bloque.tres_columnas {
    grid-template-columns: repeat(3, 1fr);
}

.g_bloque.dos_columnas {
    grid-template-columns: repeat(2, 1fr);
}

/* ALERTAS */
.g_alerta {
    display: flex;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.g_alerta.alerta_exito {
    background-color: rgb(196, 232, 141);
}

.g_alerta.alerta_error {
    background-color: rgb(232, 141, 141);
}

.g_alerta.alerta_neutro {
    background-color: rgb(250, 250, 250);
}

/* DROPDOWN */
.g_dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.g_dropdown form {
    width: 100%;
}

.g_dropdown .dropdown_item {
    padding: 5px 10px;
    width: 100%;
    display: flex;
}

.g_dropdown a:hover {
    background-color: rgb(236, 236, 236);
}

/* SEPARACION */
.g_separacion {
    align-self: stretch;
    border-color: var(--color-borde-quinario);
    width: auto;
    height: auto;
    border-style: solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left-width: 0;
    border-bottom-width: 1px;
}

/* SELECCIONADO */
.g_seleccionado {
    border: solid 1px rgb(227, 227, 227);
}

.g_seleccionado.seleccionado_activo {
    border: solid 1px #29343d;
}

@media (max-width: 1024px) {

    /* CONTENEDOR LAYOUT ECOMMERCE */
    .contenedor_layout_ecommerce_pagina {
        margin-top: var(--altura-header-principal-movil);
    }

    /* BLOQUES */
    .g_bloque.tres_columnas {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px) {

    /* ANCHOS CONTENEDOR 70 30*/
    .g_contenedor_70_30 .contenedor_70_30 {
        flex-direction: column;
    }

    .g_contenedor_70_30 .contenedor_70 {
        width: 100%;
    }

    .g_contenedor_70_30 .contenedor_30 {
        width: 100%;
    }

    /* BLOQUES */
    .g_bloque.tres_columnas {
        grid-template-columns: repeat(1, 1fr);
    }

    .g_bloque.dos_columnas {
        grid-template-columns: repeat(1, 1fr);
    }

}