/* CONTENEDOR SIDEBAR */
.contenedor_sidebar_subcategorias {
    position: fixed;
    width: var(--ancho-sidebar-subcategoria);
    max-width: var(--ancho-sidebar-subcategoria);
    top: 0;
    left: 300px;
    bottom: 0;
    display: none;
    transition: left 0.3s ease-out;
    z-index: 997;
}

.contenedor_sidebar_subcategorias[x-show="true"] {
    display: flex;
}

/* SIDEBAR CONTENEDOR */
.contenedor_sidebar_subcategorias .sidebar_contenedor {
    background: var(--color-fondo-terciario);
    box-shadow: var(--sombra);
}

/*SIDEBAR CABECERA*/
.contenedor_sidebar_subcategorias .sidebar_cabecera {
    height: var(--altura-sidebar-cabecara);
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0px 42px 0px 24px;
    background: var(--color-fondo-primario);
    box-sizing: border-box;
    color: var(--color-texto-terciario);
}

.contenedor_sidebar_subcategorias .sidebar_cabecera .saludo {
    font-weight: 700;
    font-size: 18px;
    line-height: 22.8px;
}

.contenedor_sidebar_subcategorias .sidebar_cabecera span {
    cursor: pointer;
}

/*FIN SIDEBAR CABECERA*/

/*SIDEBAR CABECERA CATEGORIA*/
.contenedor_sidebar_subcategorias .sidebar_cabecera_categoria {
    height: var(--altura-sidebar-cabecara);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 42px 0px 24px;
    box-sizing: border-box;
    color: var(--color-texto-primario);
    font-size: 17px;
    font-weight: 600;
}

/*FIN SIDEBAR CABECERA CATEGORIA*/

/* SIDEBAR CONTENIDO */
.contenedor_sidebar_subcategorias .sidebar_contenido {
    height: calc(100vh - var(--altura-sidebar-cabecara));
    overflow-y: scroll;
    width: var(--ancho-sidebar-subcategoria);
}

/* SIDEBAR CONTENIDO ITEM */
.contenedor_sidebar_subcategorias .sidebar_cotenido_item:not(:last-child) {
    border-bottom: 1px solid var(--color-borde-quinario);
}

/* SIDEBAR CONTENIDO ITEM ELEMENTO */
.contenedor_sidebar_subcategorias .sidebar_cotenido_item_ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 10px;
}

/* SIDEBAR CONTENIDO ITEM ELEMENTO TITULO*/
.contenedor_sidebar_subcategorias .sidebar_cotenido_item_ul h5 {
    margin-bottom: 8px;
    padding-left: 28px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: .5px;
    color: var(--color-texto-cuaternario);
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_item_ul li {
    padding: 16px 0px;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0px 12px;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 15px;
    color: var(--color-texto-secundario);
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento .sidebar_cotenido_elemento_imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento .sidebar_contenedor_imagen {
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento:hover {
    font-weight: 700;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento span {
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor_sidebar_subcategorias .sidebar_cotenido_elemento i {
    display: none;
}

@media (max-width: 1000px) {

    /* CONTENEDOR SIDEBAR */
    .contenedor_sidebar_subcategorias {
        width: var(--ancho-sidebar-categoria);
        max-width: var(--ancho-sidebar-categoria);
        left: 0px;
        z-index: 999;
    }

    .contenedor_sidebar_subcategorias .sidebar_contenido {
        width: var(--ancho-sidebar-categoria);
        height: calc(100vh - (2 * var(--altura-sidebar-cabecara)));
    }

    .contenedor_sidebar_subcategorias .sidebar_cotenido_item_ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    /*SIDEBAR CABECERA*/
    .contenedor_sidebar_subcategorias .sidebar_cabecera {
        display: flex;
    }
}