/* MENU PRINCIPAL */
.ecommerce_menu_principal {
    width: 100%;
    height: var(--altura-header-principal-computadora);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

/* MENU ARRIBA */
.ecommerce_menu_principal .menu_principal_arriba {
    padding: 0px 50px;
    width: 100%;
    height: var(--altura-menu-principal-arriba);
    display: grid;
    grid-template-areas: "logo_computadora buscador_principal menu_hamburguesa_computadora menu_principal_usuarios";
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--color-fondo-primario);
    grid-gap: 40px;
}

/* LOGO COMPUTADORA */
.ecommerce_menu_principal .logo_computadora {
    grid-area: logo_computadora;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.ecommerce_menu_principal .logo_computadora .imagen_logo_computadora {
    width: 265px;
}

/* MENU HAMBURGUESA MOVIL */
.ecommerce_menu_principal .menu_hamburguesa_movil {
    display: none;
    cursor: pointer;
}

.ecommerce_menu_principal .imagen_icono_hamburguesa {
    width: 40px;
}

/* FIN LOGO COMPUTADORA */

/* BUSCADOR PRINCIPAL */
.ecommerce_menu_principal .buscador_principal {
    position: relative;
    grid-area: buscador_principal;
    display: flex;
    align-self: center;
}

.ecommerce_menu_principal .contenedor_input_buscador_principal {
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-radius: 35px;
    border: 0.5px solid var(--color-borde-primario);
}

.ecommerce_menu_principal .contenedor_input_buscador_principal input[type="text"] {
    width: 100%;
    height: 100%;
    background: var(--color-fondo-primario);
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: .2px;
    color: var(--color-texto-primario);
    box-shadow: none;
    border-radius: 35px;
}

.ecommerce_menu_principal .contenedor_input_buscador_principal input[type="text"]:focus,
.ecommerce_menu_principal .contenedor_input_buscador_principal input[type="text"]:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.ecommerce_menu_principal .buscador_principal button {
    position: absolute;
    width: 46px;
    height: 46px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--color-fondo-terciario);
    border-radius: 35px;
    border: 1px solid var(--color-borde-primario);
    box-sizing: border-box;
    z-index: 10;
}

/* FIN BUSCADOR PRINCIPAL */

/* MENU HAMBURGUESA COMPUTADORA */
.ecommerce_menu_principal .menu_hamburguesa_computadora {
    grid-area: menu_hamburguesa_computadora;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0px 15px;
}

.ecommerce_menu_principal .menu_hamburguesa_computadora span {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-texto-secundario);
}

/*FIN MENU HAMBURGUESA COMPUTADORA */

/* MENU PRINCIPAL USUARIOS */
.ecommerce_menu_principal .menu_principal_usuarios {
    grid-area: menu_principal_usuarios;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ITEMS MENU*/
.ecommerce_menu_principal .menu_principal_usuarios li {
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 0px 15px;
}

.ecommerce_menu_principal .menu_principal_usuarios li:not(:last-child) {
    border-right: 1px solid;
    border-right-color: var(--color-borde-secundario);
}

.ecommerce_menu_principal .menu_principal_usuarios li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-texto-primario);
    font-size: 15px;
}

/* FIN MENU PRINCIPAL USUARIOS */

/* RESPONSIVE LAPTOP*/
@media (max-width: 1300px) {

    /* LOGO COMPUTADORA */
    .logo_computadora .imagen_logo_computadora {
        width: 140px;
    }

    .menu_principal_arriba {
        grid-gap: 10px;
    }

}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    /* MENU PRINCIPAL */
    .ecommerce_menu_principal {
        height: 170px;
    }

    .menu_principal_arriba {
        padding: 0px 10px;

        height: 120px;
        grid-template-areas: "logo_computadora menu_principal_usuarios"
            "buscador_principal buscador_principal";
        grid-template-columns: auto auto;
    }

    /* MENU PRINCIPAL USUARIOS */
    .menu_principal_usuarios {
        justify-content: flex-end;
        gap: 10px;
    }

    /* ITEMS MENU*/
    .menu_principal_usuarios li {
        padding: 0px 0px;
    }

    .menu_principal_usuarios li:not(:last-child) {
        border-right: none;
    }

    /* MENU HAMBURGUESA COMPUTADORA */
    .menu_hamburguesa_computadora {
        display: none;
    }

    /* MENU HAMBURGUESA MOVIL */
    .menu_hamburguesa_movil {
        display: block;
    }

    /* ITEM MIS COMPRAS */
    .menu_compras {
        display: none !important;
    }

    /* ITEM FAVORITOS */
    .menu_favoritos {
        display: none !important;
    }

    /* ITEM SESION */
    .contenedor_menu_sesion span {
        font-size: 14px;
        line-height: 14px;
    }

    .contenedor_menu_sesion span:first-child {
        display: none;
    }

}