/* MENU ABAJO */
.menu_principal_abajo {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 20px;
    background-color: #fff;
    border-top: 1px solid #CAD1D9;
    border-bottom: 1px solid #CAD1D9;
}

/* UBICACION */
.menu_principal_abajo .contenedor_menu_ubicacion {
    display: flex;
    align-items: center;
}

.menu_principal_abajo .contenedor_menu_ubicacion span {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #495867;
}

/* MARCAS - INFORMACION */
.menu_principal_abajo .contenedor_marcas_informacion {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* MARCAS */
.menu_principal_abajo .contenedor_marcas {
    display: flex;
    align-items: center;
    border-right: 1px solid #ddd;
}

.menu_principal_abajo .contenedor_marcas img {
    padding: 0px 10px;
}

/* INFORMACION */
.menu_principal_abajo .contenedor_informacion {
    display: flex;
    align-items: center;
}

.menu_principal_abajo .contenedor_informacion li {
    display: flex;
    align-items: center;
    align-self: center;
    cursor: pointer;
    padding: 0px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #495867;
}

.menu_principal_abajo .contenedor_informacion li img {
    width: 16px;
}

/* RESPONSIVE TABLET */
@media (max-width: 1000px) {

    /* MENU ABAJO */
    .menu_principal_abajo .menu_principal_abajo {
        padding: 0px 10px 0px 10px;
    }

    .menu_principal_abajo .contenedor_marcas_informacion {
        display: none;
    }

}