@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap);

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Manrope', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

