.contenedor_agregar_carrito {
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
}

.contenedor_agregar_carrito .variacion_carrito {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor_agregar_carrito .variacion_carrito .contenedor_variacion {
    display: flex;
    flex-direction: column;
}

/* COLOR */
.contenedor_agregar_carrito .contenedor_color {
    max-width: 305px;
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 13px;
    gap: 10px;
}

.contenedor_agregar_carrito .contenedor_color label {
    height: 40px;
    width: 40px;
    margin: 0 8px 4px 0;
    padding: 2px;
    position: relative;
    border-radius: 4px;
    margin-right: 0;
    display: flex;
    align-items: center;
}

.contenedor_agregar_carrito .label_color_seleccionado {
    border: 2px solid var(--color-borde-secundario)
}

.contenedor_agregar_carrito .contenedor_color label div {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: 1.1px solid var(--color-borde-septenario)
}

.contenedor_agregar_carrito .contenedor_color label input {
    display: none;
}

/* TALLA */
.contenedor_agregar_carrito .contenedor_talla {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.contenedor_agregar_carrito .contenedor_talla label {
    width: auto;
    min-width: 38px;
    height: 40px;
    line-height: 16px;
    padding: 9px 10px;
    font-weight: bold;
    border-radius: 3px;
    margin: 0px 8px 8px 0px;
    color: var(--color-texto-septenario);
    font-size: 13px;
    border: 1.1px solid var(--color-borde-septenario);
    background-color: var(--color-fondo-terciario);
}

.contenedor_agregar_carrito .contenedor_talla .label_talla_seleccionado {
    color: var(--color-texto-secundario);
    border: 2px solid var(--color-borde-secundario);
    background-color: var(--color-fondo-terciario);
    border-radius: 3px;
}

.contenedor_agregar_carrito .contenedor_talla label input {
    display: none;
}

.contenedor_agregar_carrito .texto {
    font-weight: 700;
    color: var(--color-texto-septenario);
    font-size: 14px;
    margin-bottom: 10px;
}

.contenedor_agregar_carrito .texto span {
    font-weight: 400;
}

/* CONTROLES */
.contenedor_agregar_carrito .controles_carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    background: var(--color-fondo-terciario);
}

.contenedor_agregar_carrito .controles_carrito .botones {
    color: var(--color-texto-secundario);
    display: flex;
    border-radius: 2px;
    height: 30px;
    align-items: center;
    gap: 10px;
}

.contenedor_agregar_carrito .controles_carrito .botones button {
    background-color: var(--color-fondo-quinario);
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.contenedor_agregar_carrito .controles_carrito p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: var(--color-texto-septenario);
    font-size: 12px;
}

.contenedor_agregar_carrito .boton_agregar_carrito {
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--color-texto-terciario);
    border-radius: 30px;
    background-color: var(--color-fondo-primario);
    text-transform: none;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 16px;
}

@media (max-width: 700px) {

    .contenedor_agregar_carrito .agregar_carrito {
        flex-direction: column;
    }

    .contenedor_agregar_carrito .controles_carrito {
        box-shadow: var(--sombra-secundario-arriba);
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 8px 16px;
        z-index: 19;
        width: 100%;
    }

}