.contenedor_agregar_carrito {
    display: flex;
}

.contenedor_agregar_carrito .variacion_carrito {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contenedor_agregar_carrito .controles_carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contenedor_agregar_carrito .controles_carrito .botones {
    display: flex;
    border-radius: 2px;
    height: 30px;
    align-items: center;
    gap: 10px;
}

.contenedor_agregar_carrito .controles_carrito .botones button {
    color: #333;
    background-color: #eee;
    border-radius: 2px;
    width: 30px;
    height: 30px;
}

.contenedor_agregar_carrito .boton_agregar_carrito {
    width: 100%;
    height: 56px;
    font-weight: bold;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #fff;
    border-radius: 30px;
    background-color: #343E49;
    text-transform: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
}


@media (max-width: 700px) {

    .contenedor_agregar_carrito .agregar_carrito {
        flex-direction: column;
    }

    .contenedor_agregar_carrito .controles_carrito {
        background-color: red;
        box-shadow: rgba(0, 0, 0, 0.1) 0px -3px 26px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 8px 16px;
        z-index: 19;
        width: 100%;
    }

}