.partials_contenedor_aviso {
    position: relative;
    width: 100%;
}

/* SLIDER */
.partials_contenedor_aviso .contenedor_slide {
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.partials_contenedor_aviso .contenedor_slide::-webkit-scrollbar {
    height: 5px;
}

.partials_contenedor_aviso .contenedor_slide::-webkit-scrollbar-thumb {
    background-color: var(--color-fondo-quinario);
    border-radius: 5px;
}

.partials_contenedor_aviso .contenedor_slide .item_slide {
    scroll-snap-align: start;
    flex: 0 0 auto;
    padding: 5px;
    width: 25%;
}

.partials_contenedor_aviso .contenedor_slide .item_slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* CONTROL BOTONES */
.partials_contenedor_aviso .control_botones {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.partials_contenedor_aviso .control_botones button {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: var(--color-fondo-cuaternario);
    color: var(--color-texto-terciario);
}

.partials_contenedor_aviso .control_botones button:disabled {
    display: none;
}

.partials_contenedor_aviso .boton_retroceder {
    left: 10px;
}

.partials_contenedor_aviso .boton_siguiente {
    right: 10px;
}

/* PAGINACION BOTONES */
.partials_contenedor_aviso .paginacion_botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.partials_contenedor_aviso .paginacion_botones button {
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 5px;
    background-color: var(--color-fondo-cuaternario);
    border-radius: 50%;
    border: none;
}

.partials_contenedor_aviso .paginacion_botones button.boton_activo {
    width: 10px;
    height: 10px;
}

@media (max-width: 1000px) {

    .partials_contenedor_aviso .item_slide {
        width: 45%;
    }

}

@media (max-width: 700px) {

    .partials_contenedor_aviso .item_slide {
        width: 95%;
    }

}