.contendor_enlaces_rapidos {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: var(--color-fondo-cuaternario);
}

.contendor_enlaces_rapidos .grid_mostrador {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.contendor_enlaces_rapidos .grid_mostrador p {
    max-width: 100%;
    overflow: hidden;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto 0.625rem;
    text-overflow: ellipsis;
}

.contendor_enlaces_rapidos .grid_mostrador ul {
    padding-left: 1rem;
}

.contendor_enlaces_rapidos .grid_mostrador ul li {
    list-style: disc;
}

.contendor_enlaces_rapidos .grid_mostrador ul li a {
    text-decoration: underline;
    font-weight: 400;
    font-size: .875rem;
}

.contendor_enlaces_rapidos .grid_mostrador img {
    width: 100%;
    height: auto;
}

/*CONTROL MOSTRAR*/
.contendor_enlaces_rapidos .contenedor_control_mostrar {
    margin-top: 20px;
    text-align: end;
    display: none;
}

.contendor_enlaces_rapidos .contenedor_control_mostrar p {
    cursor: pointer;
    padding-right: 0.875rem;
    text-decoration: underline;
    letter-spacing: .1163rem;
    color: var(--color-texto-septenario);
}

.contendor_enlaces_rapidos .contenedor_control_mostrar span {
    position: absolute;
}

.contendor_enlaces_rapidos .contenedor_control_mostrar .invertido {
    transform: translateY(-45%) rotate(180deg);
    margin-top: 10px;
}

.contendor_enlaces_rapidos .contenedor_control_mostrar .normal {
    margin-top: 5px;
    margin-left: 2px;
}

@media (max-width: 1024px) {

    .contendor_enlaces_rapidos .grid_mostrador {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Ocultar todos los elementos después del sexto por defecto */
    .contendor_enlaces_rapidos .grid_mostrador .item:nth-child(n+3) {
        display: none;
    }

    /* Mostrar todos los elementos cuando showAll es true */
    .contendor_enlaces_rapidos .grid_mostrador.mostrar_todos .item:nth-child(n+3) {
        display: block;
    }

    .contendor_enlaces_rapidos .contenedor_control_mostrar {
        display: block;
    }

}