.partials_contenedor_grid {
    position: relative;
    width: 100%;
}

/* SLIDER */
.partials_contenedor_grid .swiper {
    width: 100%;
    overflow: hidden;
}

.partials_contenedor_grid .swiper-wrapper {
    display: flex;
}

.partials_contenedor_grid .swiper-slide {
    padding: 5px;
    box-sizing: border-box;
}

/* Estilos de los slides */
.partials_contenedor_grid .swiper-slide.item_50 {
    width: 50%;
}

.partials_contenedor_grid .swiper-slide.item_25 {
    width: 25%;
}

.partials_contenedor_grid .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.partials_contenedor_grid .imagen_movil {
    display: none;
}

/* CONTROLES */
.partials_contenedor_grid .swiper-button-next,
.partials_contenedor_grid .swiper-button-prev {
    background: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--color-texto-senario);
}

.partials_contenedor_grid .swiper-button-next:hover,
.partials_contenedor_grid .swiper-button-prev:hover {
    background: var(--color-fondo-senario);
    color: var(--color-texto-septenario);
}

.partials_contenedor_grid .swiper-button-next:after,
.partials_contenedor_grid .swiper-button-prev:after {
    font-size: 16px;
}

.partials_contenedor_grid .swiper-button-prev {
    left: 10px;
    box-shadow: var(--sombra-secundario-izquierda);
}

.partials_contenedor_grid .swiper-button-next {
    right: 10px;
    box-shadow: var(--sombra-secundario-derecha);
}

/* SLIDER THUMBNAILS */
.partials_contenedor_grid .swiper-pagination {
    position: initial;
}

.partials_contenedor_grid .swiper-pagination-bullet {
    background-color: var(--color-fondo-senario);
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 50%;
}

.partials_contenedor_grid .swiper-pagination-bullet-active {
    background-color: var(--color-fondo-septenario);
}

@media (max-width: 1000px) {
    .partials_contenedor_grid .imagen_computadora {
        display: none;
    }

    .partials_contenedor_grid .imagen_movil {
        display: block;
    }
}

@media (max-width: 700px) {
    .partials_contenedor_grid .swiper-slide {
        width: 95%;
    }
}
