.partials_contenedor_vitrina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.partials_contenedor_vitrina a {
    display: flex;
}

.partials_contenedor_vitrina img {
    width: 100%;
    height: auto;
}

.partials_contenedor_vitrina .imagen_movil {
    display: none;
}

@media (max-width: 1024px) {

    .partials_contenedor_vitrina {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px) {

    .partials_contenedor_vitrina .imagen_computadora {
        display: none;
    }

    .partials_contenedor_vitrina .imagen_movil {
        display: block;
    }

}