.partials_contenedor_vitrina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.partials_contenedor_vitrina a {
    display: flex;
}

.partials_contenedor_vitrina img {
    width: 100%;
    height: auto;
}

@media (max-width: 1000px) {

    .partials_contenedor_vitrina {
        grid-template-columns: repeat(2, 1fr);
    }

}